  <connectionStrings>
	  <add name="HRDB"
     connectionString="Server=127.0.0.1,1433;initial catalog=HR;user id=sa;password=@Ngtuonghy;
     MultipleActiveResultSets=True;App=EntityFramework;
     Encrypt=True;TrustServerCertificate=True"
		   providerName="System.Data.SqlClient"/>
  </connectionStrings>