@{
    Layout = null;
    ViewBag.Title = "Index";
}
<div> 
    <h3> Login to continue  HRWEBAPP</h3>
    <button><a href="http://localhost:8080/springapp/admin/dashboard.html">Login</a></button>
</div>